.content {
    min-height: 70vh;
}

.game-content {
    background-color: aquamarine;
}

.leaderboard-content {
    background-color: yellowgreen
}

.history-content {
    min-height: 40vh;
    background-color: palegreen;
}