.main-container {
    min-height: 90vh;
}

.sub-container {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-content {
    max-height: 50vh;
}